.card {  
    background-color: #fff; /* 卡片背景色 */  
    border-radius: 10px; /* 圆角 */  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */  
    padding: 20px; /* 内部填充 */  
    margin: 10px 0; /* 外部边距 */  
}  

.cardHeader {  
    display: flex; /* 使用 flex 使图标和标题并排 */  
    align-items: center; /* 垂直居中对齐 */  
}  

.icon {  
    width: 30px; /* 图标尺寸 */  
    height: 30px;  
    margin-right: 10px; /* 图标与标题间距 */  
}  

.cardContent {  
    margin: 10px 0; /* 内容和其他部分间距 */  
    white-space: pre-wrap; /* 处理换行符和空格 */ 
}  

.cardFooter {  
    display: flex; /* 使用 flex 使日期和图标间距自适应 */  
    justify-content: space-between; /* 左右分开 */  
    align-items: center; /* 垂直居中对齐 */  
}  

.date {  
    font-size: 0.9em; /* 日期字体大小 */  
    color: gray; /* 日期颜色 */  
}

.dateLink {  
    font-size: 0.9em; /* 确保与日期相同的字体大小 */  
    color: gray; /* 与日期相同的颜色 */  
    text-decoration: none; /* 移除下划线 */  
    margin-left: 10px; /* 为链接添加左侧间距 */  
}  

.dateLink:hover {  
    text-decoration: underline; /* 悬停时添加下划线 */  
    color: black; /* 悬停时颜色变化 */  
}  